page-connection {
  ion-navbar {
    h3 {
      margin-left: 16px;
    }
    ion-list {
      margin-bottom: 0 !important;
    }

    ion-label.label {
      opacity: 1;
    }

    #connectionDiscoverMode {
      background: none;
      color: white;
    }
  }


  .autoSearch #autosearch-title {
    display: flex;
    justify-content: space-between;
  }

  ion-note[selected='selected'] {
    color: inherit;
  }

  button.sameAddress {
    padding: 0;
    margin: 0;
  }

  sr-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
  }

  ion-item {
    vertical-align: middle;
  }

  #input-observation {
    color: #999;
    text-align: right;
  }
}
