page-connection {
  ion-navbar {
    h3 {
      margin-left: 16px;
    }
    ion-list {
      margin-bottom: 0 !important;
    }

    ion-label.label {
      opacity: 1;
    }

    #connectionDiscoverMode {
      background: none;
      color: white;
    }
  }


  .autoSearch #autosearch-title {
    display: flex;
    justify-content: space-between;
  }

  ion-note[selected='selected'] {
    color: inherit;
  }

  button.sameAddress {
    padding: 0;
    margin: 0;
  }

  sr-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
  }

  ion-item {
    vertical-align: middle;
  }

  #input-observation {
    color: #999;
    text-align: right;
  }

  [disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    transition: opacity .30s ease-in-out;
  }

  #connection-status-bar .item-inner {
    margin-left: 0;
  }

  @media(max-width: 420px) {
    #connection-status-bar ion-icon {
      display: none;
    }

    #connection-status-bar .item-inner {
      margin-left: 0;
    }

    #connection-status-bar {
      padding-left: 0;
    }
  }
}
