<ion-header>
  <ion-navbar [color]="connectedColor">
    <ion-title>{{'CONNECTION' | translate}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only navPop [hidden]="!connected">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item [hidden]="online" id="connection-status-bar">
    <ion-icon item-left name="close" color="danger"></ion-icon>

    <ion-label>{{'NETWORK_INACTIVE' | translate}}</ion-label>

    <button ion-button item-right [hidden]="!showButtonNetworkConfiguration" (click)="networkConfigurations()">
      {{'MANAGE_NETWORK' | translate}}
    </button>
  </ion-item>


  <ion-navbar [color]="connectedColor" id="connectionHeader" [attr.disabled]="!online ? '' : null">
    <ion-list>
      <ion-item id="connectionDiscoverMode">
        <ion-label class="label">{{'DISCOVER_DEVICE_MODE' | translate}}</ion-label>

        <ion-note item-right [attr.selected]="!autoSearch ? 'selected' : ''">{{'MANUAL' | translate}}</ion-note>
        <ion-toggle [(ngModel)]="autoSearch" [disabled]="emulated"></ion-toggle>
        <ion-note item-right [attr.selected]="autoSearch ? 'selected' : ''">{{'AUTO' | translate}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-navbar>

  <div *ngIf="!autoSearch" padding [attr.disabled]="!online ? '' : null">
    <ion-item>
      <ion-label floating primary>{{'DEVICE_IP' | translate}} *</ion-label>
      <ion-input placeholder="pedalpi" [(ngModel)]="ipInput"></ion-input>
      <button class="sameAddress" ion-button item-right (click)="sameAddress()">
        {{'SAME_ADDRESS' | translate}}
      </button>
    </ion-item>

    <ion-item id="input-observation">
      * {{'MANUAL_IP_OBSERVATION' | translate}}
    </ion-item>

    <div padding>
      <button ion-button full (click)="tryConnect()">{{'CONNECT' | translate}}</button>
    </div>
  </div>

  <div *ngIf="autoSearch" padding class="autoSearch" [attr.disabled]="!online ? '' : null">
    <div id="autosearch-title">
      <h2>{{'DEVICES' | translate}}</h2>

      <ion-spinner [hidden]='!finding'></ion-spinner>
      <button ion-button (click)="startDiscover()" [hidden]="finding" color="dark" outline>
        {{'DISCOVER' | translate}}
      </button>
    </div>

    <ion-list>
      <ion-item *ngFor="let device of devices" (click)="connect(device)">
        <sr-icon icon="icons.svg#icon-raspberry"></sr-icon> {{device.name}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
