<div id="sr-slider">
  <label id="name" for="volume">{{parameter.name}}</label>

  <input id="range" type="range"
    min="{{parameter.min}}" max="{{parameter.max}}" value="{{parameter.current}}"
    step="1" [(ngModel)]="parameter.current" />

  <output id="current" for="volume">{{parameter.current}}{{parameter.unit}}</output>
  <div id="interval">
    <output id="min" for="volume">{{parameter.min}}</output> -
    <output id="max" for="volume">{{parameter.max}}{{parameter.unit}}</output>
  </div>
</div>
