<div id="sr-slider">
  <label id="name" for="volume">{{parameter.name}}</label>

  <!--<ion-range min="0" max="10"></ion-range>-->

  <input id="range" type="range"
    min="{{parameter.minimum}}" max="{{parameter.ranges.maximum}}" value="{{parameter.value}}"
    step="0.001" [(ngModel)]="parameter.value"
    (change)="update()" />

  <output id="current" for="volume">{{value}}</output>
  <div id="interval">
    <output id="min" for="volume">{{parameter.ranges.minimum}}</output> –
    <output id="max" for="volume">{{maximum}}</output>
  </div>
</div>
