.ion-card-clicable {
  ion-item {
    background-color: rgba(0, 0, 0, 0);
  }
}

.ion-card-clicable.no-shadow {
  box-shadow: none;
}

.ion-item-light {
  color: $text-color-light;
  font-weight: 100;
}

.list-card {
  ion-item {
    padding: 0;
  }
  ion-item .item-inner{
    padding: 0;
  }
  ion-label {
    margin: 0
  }

  ion-card button {
    font-weight: 300;
    font-size: 1.2em;
    width: 100%;
    margin: 0px;
    height: 77px;
  }

  ion-card button .button-inner {
    justify-content: inherit;
  }
  ion-card ion-icon {
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 20px;
  }
}

ion-card.ion-card-item {
  width: 100%;
  margin: 0;

  button[ion-item] {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .ion-item {
    text-transform: none;
    color: $text-color-light;

    font-size: 1em;
    font-weight: 100;

    padding-left: 0;
  }

  ion-icon {
    color: $text-color;
  }
}
