.ion-card-clicable {
  ion-item {
    background-color: rgba(0, 0, 0, 0);
  }
}

.ion-card-clicable.no-shadow {
  box-shadow: none;
}

.ion-item-light {
  color: $text-color-light;
  font-weight: 300;
}

ion-card.ion-card-item {
  width: 100%;
  margin: 0;

  button {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .ion-item {
    color: $text-color-light;

    font-size: 1em;
    font-weight: 100;

    padding-left: 0;
  }

  ion-icon {
    color: $text-color;
  }
}
