<div id="sr-combobox">
  <ion-label id="name">{{parameter.name}}</ion-label>

  <div class="container">
    <span id="select-container">
      <ion-select id="select" [(ngModel)]="selected">
        <ion-option *ngFor="let option of parameter.options" [value]="option.value">{{option.name}}</ion-option>
      </ion-select>
    </span>

    <button clear class="button" (click)="before()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>

    <button clear class="button" (click)="next()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </div>
</div>
