sr-combobox {
  font-weight: 100;
  padding: 7px 20px 0px;
  display: block;
  color: #808080;

  #name {
    font-size: 20px;
    display: block;
    padding-bottom: 12px;
  }

  #select-container {
    width: calc(100% - 9rem);
    display: inline-block;
    padding-right: 0.5rem;
  }

  ion-select {
    max-width: 100%;
    font-size: 1.2em;
    color: #808080;
    border-bottom: 1px solid #ddd;
  }

  /* fix */
  ion-select button {
    display: none;
  }
  ion-select .button-inner {
    width: 0;
  }

  .button {
    display: inline-block;
    background-color: #efefef;
    color: #808080;
    height: 4rem;
  }

  .button:hover {
    background-color: #dedede !important;
  }
}
