sr-tabs {
  display: block;
  height: 100%;

  ul {
    background-color: $toolbar-background;
    margin: 0;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
    z-index: 1;
  }

  li {
    display: inline-block;
  }

  li.active {
    border-bottom: 3px solid #fafafa;
    height: 44px;
  }

  li button {
    color: white !important;
  }
}

sr-tab {
  display: block;
}
