.pages-manager > .scroll-content {
  overflow-y: hidden;
}

.pages-manager.split > .scroll-content {
  display: flex;
}

.subpage {
  width: 100%;
  max-width: 100%;

  ion-header,
  ion-footer {
    position: inherit;
  }

  .scroll-content {
    margin: 0 !important;
  }
}


@media (min-width: 993px) {
  .subpage.right:not(.full) {
    max-width: 550px;
    border-left: 1px solid #dedede;
  }
}

/**************************/
ion-header:not(.full) .toggleDrawer {
  display: hidden;
}

page-pedalboard-manager page-pedalboard {
  ion-content {
    height: calc(100% - 86px);
  }
  ion-footer {
    border-top: 2px solid #dedede;
  }
}

@media (min-width: 993px) {
  page-pedalboard-manager page-pedalboard:not(.full) #tabs ul {
    width: 50%;
    max-width: 550px;
  }
}

@media (min-width: 993px) {
  #button-parameters {
    display: none;
  }
}
@media (max-width: 992px) {
  #button-connections-toggle {
    display: none;
  }
}
