<div id="sr-param-knob">
    <label id="name" for="volume">{{name}}</label>

    <sr-knob
        [(ngModel)]="parameter.value"
        [min]="parameter.minimum"
        [max]="parameter.maximum"

        (onChange)="update($event)"

        sprite="assets/img/mod-devices/chicken-head.png"
        spritesTotal="64"

        steps="42"
        ></sr-knob>

    <!--
    <output id="current" for="volume">{{valueRepresentation}}</output>
    <div id="interval">
      <output id="min" for="volume">{{minimumRepresentation}}</output> –
      <output id="max" for="volume">{{maximumRepretation}}</output>
    </div>
    -->
</div>
