<div id="sr-combobox">
  <ion-label id="name">{{parameter.name}}</ion-label>

  <div class="container">
    <span id="select-container">
      <ion-select id="select"
        [(ngModel)]="selected" (ionChange)="update()" [selectOptions]="options">
        <ion-option
          *ngFor="let option of parameter.scalePoints"
          [value]="option.value">{{option.label}}</ion-option>
      </ion-select>
    </span>

    <button ion-button icon-only clear class="button" (click)="before()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>

    <button ion-button icon-only clear class="button" (click)="next()">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </div>
</div>
