page-plugins-list #effectList {
  h2 ion-badge {
    vertical-align: middle;
  }
  
  ion-label {
    margin: 0;
  }

  sr-tab {
    button {
      font-size: 1.1em;
      padding: 0;
      border-bottom: 1px solid #dedede;
    }

    button > .item-inner {
      border: 0;
      padding: 0;
    }
  }
}
