.banks {
  ion-item {
    color: $text-color-light;
  }

  ion-icon {
    color: $text-color;
  }
}

.context {
  color: $text-color-light !important;
  font-weight: lighter  !important;

  .action-sheet-title {
    background-color: #efefef;
    color: $text-color;
    font-size: 2.5rem;
  }
}
