.banks {
  ion-card.ion-card-item ion-item {
    font-size: 1.35em;
  }
}

.context {
  color: $text-color-light !important;
  font-weight: lighter  !important;

  .action-sheet-title {
    background-color: #efefef;
    color: $text-color;
    font-size: 2.5rem;
  }
}
