<div id="sr-param-knob">
    <label id="name" for="volume">{{name}}</label>

    <sr-knob
        [(ngModel)]="parameter.value"
        [min]="parameter.ranges.minimum"
        [max]="parameter.ranges.maximum"

        (onChange)="update($event)"

        sprite="img/mod-devices/chicken-head.png"
        spritesTotal="64"
        ></sr-knob>

    <!--
    <output id="current" for="volume">{{value}}</output>
    <div id="interval">
      <output id="min" for="volume">{{minimum}}</output> –
      <output id="max" for="volume">{{maximum}}</output>
    </div>
    -->
</div>
