@font-face {
    font-family: 'Noto-Emoji-Color-Light';
    src: url('/assets/font/NotoColorEmoji-unhinted/NotoColorEmoji-light.ttf');
    src: url('/assets/font/NotoColorEmoji-unhinted/NotoColorEmoji-light.ttf') format('truetype');
}

page-configurations ion-select,
.flags-translate .alert-radio-label {
  font-family: 'Noto-Emoji-Color-Light';
  font-size: 1.2em;
}
