.patch {
  sr-tabs {
    height: calc(100% - 80px);
    overflow-y: auto;
  }

  #effects {
    position: fixed;
    right: 0;
    color: $text-color-light;
    background-color: #fafafa;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
}

sr-tabs ul {
  position: fixed;
  width: calc(100% - 44px);
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
}
sr-tabs sr-tab {
  display: block;
  margin-top: 44px;
}

#footer {
  position: fixed;
  bottom: 0;

  height: 80px;

  background-color: #fafafa;
  column-rule: #434343;

  ion-col {
    text-align: center;
  }

  ion-icon {
    padding: 10px 0;
    font-size: 4rem;
    width: 5rem;
    text-align: center;
  }

  ion-card {
    .item-inner {
      padding: 0;
    }
    ion-label {
      margin: 0;
    }

    button {
      background-color: #fafafa;
      text-align: center !important;
      padding: 0;
      font-size: 1.5rem;
      font-weight: 100;
    }
  }

  .label {
    display: block;
    padding-bottom: 5px;
    color: #808080;
  }

  #connections {
    background-color: rgba(0, 0, 0, .04);
    color: #a0a0a0;
  }

  #connections ion-icon {
    color: #a0a0a0 !important;
    padding: 5px 0 0;
  }
}

ion-grid, ion-col {
  margin: 0;
  padding: 0;
}
