#plugins {
  sr-icon svg {
    fill: inherit;
  }

  button {
    fill: #616161;
  }

  .chorus {
    --border-color: #0090ff;
    color: #0090ff;
    fill: #007ad8;
    border-color: #9dc9e2;
  }

  .delay {
    --details: lightsteelblue;
    --border-color: lightslategrey;
  }

  .distortion {
    stroke: white;
    stroke-width: 0.2px;
  }

  .flanger {
    fill: rebeccapurple;
    color: rebeccapurple;
    border-color: rgb(214, 172, 255);
  }

  .limiter {
    stroke-width: 0.5px;
    stroke: currentColor;
  }

  .phaser {
    --pedal-border: orange;
    color: orange;
    fill: #ca8200;
    border-color: #ffcd70;

    stroke: white;
    stroke-width: 0.7px;
  }

  .simulator {
    fill: #4c0000;
    stroke: white;
    stroke-width: .3px;
    color: #4e3535;
    border-color: #cebcbc;
  }
}
