<ion-content class="pedalboard">
  <sr-tabs id="tabs" (onSelect)="setCurrentEffectByIndex($event)">

    <sr-tab *ngFor="let effect of pedalboard.effects" title="{{effect.plugin.name}}" [hidden]="effect != currentEffect">
      <div id="parameters">
        <span *ngFor="let parameter of effect.params" class="parameter {{parameter.parameterType()}}">
            <!--
            <sr-slider
              *ngIf="parameter.isKnob()"
              (onChange)="onParamUpdated(parameter, parameter.value)"
              [parameter]="parameter"></sr-slider>
            -->
            <sr-param-knob
              *ngIf="parameter.isKnob()"
              [parameter]="parameter"
              (onChange)="onParamUpdated(parameter, parameter.value)"></sr-param-knob>
            <sr-combobox
              *ngIf="parameter.isCombobox()"
              [parameter]="parameter"
              (onChange)="onParamUpdated(parameter, parameter.value)"
              [selected]="parameter.value"
              ></sr-combobox>
            <sr-toggle
              *ngIf="parameter.isToggle()"
              (onChange)="onParamUpdated(parameter, parameter.value)"
              [parameter]="parameter"></sr-toggle>
        </span>
      </div>
    </sr-tab>
    <div id="info" *ngIf="pedalboard.effects.length === 0">
      <ion-icon name="md-add"></ion-icon>
      Add effects in this pedalboard
    </div>
  </sr-tabs>
</ion-content>

<ion-footer>
  <sr-set-current (onChange)="toPedalboard($event)">
    <sr-footswitch id="footswitch" [(ngModel)]="currentEffectStatus" (onChange)="toggleEffectStatus(currentEffect)" [hidden]="!hasCurrentEffect"></sr-footswitch>
  </sr-set-current>
</ion-footer>
