<ion-header>
  <ion-navbar>
    <ion-title>
      {{pedalboard.name}}
    </ion-title>

    <ion-buttons end>
      <!--
      <button id="add-pedalboard" ion-button color="royal" (click)="setEffect()">
        <ion-icon name="create"></ion-icon>
      </button>
      -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="pedalboard">
  <button id="effects" icon-only ion-button clear (click)="manageEffects()"><ion-icon name="md-shuffle"></ion-icon></button>
  <sr-tabs id="tabs" (onSelect)="setCurrentEffect($event)">

    <sr-tab *ngFor="let effect of pedalboard.effects" title="{{effect.plugin.name}}" [hidden]="effect != currentEffect">
      <div id="parameters">
        <span *ngFor="let parameter of effect.params" class="parameter {{parameter.parameterType()}}">
            <!--
            <sr-slider
              *ngIf="parameter.isKnob()"
              (onChange)="onParamUpdated(parameter, parameter.value)"
              [parameter]="parameter"></sr-slider>
            -->
            <sr-param-knob
              *ngIf="parameter.isKnob()"
              [parameter]="parameter"
              (onChange)="onParamUpdated(parameter, parameter.value)"></sr-param-knob>
            <sr-combobox
              *ngIf="parameter.isCombobox()"
              [parameter]="parameter"
              (onChange)="onParamUpdated(parameter, parameter.value)"
              [selected]="parameter.value"
              ></sr-combobox>
            <sr-toggle
              *ngIf="parameter.isToggle()"
              (onChange)="onParamUpdated(parameter, parameter.value)"
              [parameter]="parameter"></sr-toggle>
        </span>
      </div>
    </sr-tab>

    <div id="info" *ngIf="pedalboard.effects.length === 0">
      <ion-icon name="md-shuffle"></ion-icon>
      Add effects in this pedalboard
    </div>
  </sr-tabs>
</ion-content>

<ion-footer>
  <ion-toolbar position="bottom" id="footer">
    <ion-card class="ion-card-clicable no-shadow ion-card-item">
      <button ion-item (click)="toBeforePedalboard()">
        <ion-icon name="arrow-back"></ion-icon>
        <span class="label">{{beforePedalboard.name}}</span>
      </button>
    </ion-card>

    <sr-footswitch id="footswitch" [(ngModel)]="currentEffectStatus" (onChange)="toggleEffectStatus(currentEffect)" [hidden]="!hasCurrentEffect"></sr-footswitch>

    <ion-card class="ion-card-clicable no-shadow ion-card-item">
      <button ion-item (click)="toNextPedalboard()">
        <ion-icon name="arrow-forward"></ion-icon>
        <span class="label">{{nextPedalboard.name}}</span>
      </button>
    </ion-card>
  </ion-toolbar>
</ion-footer>
