<ion-header>
  <ion-navbar>
    <ion-title>
      {{pedalboard.name}}
    </ion-title>

    <ion-buttons end>
      <button ion-button ico-only color="royal" (click)="newEffect()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button ico-only color="royal" (click)="removeSeleted()">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="pedalboard">
  <sr-tabs id="tabs" (onSelect)="setCurrentEffect($event)">

    <sr-tab *ngFor="let effect of pedalboard.effects" title="{{effect.plugin.name}}" [hidden]="effect != currentEffect">
      <div id="parameters">
        <span *ngFor="let parameter of effect.params" class="parameter {{parameter.parameterType()}}">
            <!--
            <sr-slider
              *ngIf="parameter.isKnob()"
              (onChange)="onParamUpdated(parameter, parameter.value)"
              [parameter]="parameter"></sr-slider>
            -->
            <sr-param-knob
              *ngIf="parameter.isKnob()"
              [parameter]="parameter"
              (onChange)="onParamUpdated(parameter, parameter.value)"></sr-param-knob>
            <sr-combobox
              *ngIf="parameter.isCombobox()"
              [parameter]="parameter"
              (onChange)="onParamUpdated(parameter, parameter.value)"
              [selected]="parameter.value"
              ></sr-combobox>
            <sr-toggle
              *ngIf="parameter.isToggle()"
              (onChange)="onParamUpdated(parameter, parameter.value)"
              [parameter]="parameter"></sr-toggle>
        </span>
      </div>
    </sr-tab>
    <div id="info" *ngIf="pedalboard.effects.length === 0">
      <ion-icon name="md-add"></ion-icon>
      Add effects in this pedalboard
    </div>
  </sr-tabs>
</ion-content>

<ion-footer [hidden]="!hasMorePedalboard && !hasCurrentEffect">
  <ion-toolbar position="bottom" id="footer">
    <button ion-item (click)="toBeforePedalboard()">
      <ion-icon name="arrow-back"></ion-icon>
      <span class="label">{{beforePedalboard.name}}</span>
    </button>

    <sr-footswitch id="footswitch" [(ngModel)]="currentEffectStatus" (onChange)="toggleEffectStatus(currentEffect)" [hidden]="!hasCurrentEffect"></sr-footswitch>

    <button ion-item (click)="toNextPedalboard()" [disabled]="hasOnlyTwoPedalboards">
      <ion-icon name="arrow-forward"></ion-icon>
      <span class="label">{{nextPedalboard.name}}</span>
    </button>
  </ion-toolbar>
</ion-footer>
